body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

nav.navbar {
    background-color: #333;
}

.mr-auto {
    margin-left: auto!important;
    margin-right: 0px!important;
}

#navbarSupportedContent ul li a {
    padding: .5rem 1rem;
}

.footer {
    padding: 20px;
    background: #333;
    color: white;
}

.card {
    border: none;
}

.jumbotron {
    height: 25rem;
    margin-top: 3.5rem;
}