body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav ul li a,
nav .brand-logo {
    color: #444;
}

nav, 
header {
    background-color: transparent;
}

#nav-trigger {
    margin: 0;
}

footer h5,
footer p,
footer ul li a {
    color: #444;
}

#backer {
    max-width: 110%;
}

.double-back {
    margin-top: -1em;
    margin-bottom: -.5em;
    background-image: url("../media/images/hex.png");
    background-repeat: repeat;
}

.no-shadow {
    box-shadow: none;
    border: none;
}

p {
    line-height: 2rem;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

.parallax {
    background-color: black;
}

.parallax img {
    filter: blur(3px);    
    filter: opacity(0.6); 
}

.name {
    text-shadow: 1px 1px 3px black;
}

.visible {
    display: block !important;
    visibility: visible; 
    opacity: 100;
    margin-top: 0;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.shrink {
    margin-top: -30px;
    margin-bottom: 30px;
}

.sticky-nav {
    position: fixed; 
    top: 0;
}

#index-banner {
    /* background: linear-gradient(90deg, #252934 85%, #26c6da 15%); */
    background: linear-gradient(45deg, #252934 50%, #26c6da 50%);
}

.card-title {
    padding: .2em;
    font-weight: 400 !important; 
}

.card-content {
    border-top: 1px solid #252934;
}

nav {
    z-index: 10000000000000;
    visibility: hidden;
    opacity: 0;
    margin-top: -74px;
}

.container ul li a:hover {
    background-color: #26c6da; 
    color: #252934 !important;
}

.link-spacing {
    padding-top: 30px; 
    margin-top: -30px;
}

.nav-wrapper {
    border-bottom: 2px solid #26c6da;
}

.section-name {
    margin-bottom: 1.2em;
}

.input-field input:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #e91e63 !important;
  }
  /* label underline focus color */
  .row .input-field input:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important
  }
     /* valid color */
     .input-field input[type=text].valid {
        border-bottom: 1px solid #26c6da;
        box-shadow: 0 1px 0 0 #26c6da;
      }
      .input-field input[type=email].valid {
        border-bottom: 1px solid #26c6da;
        box-shadow: 0 1px 0 0 #26c6da;
      }
.phone {
    padding-bottom: 16px;
    font-weight: 400;
    display: block;
    font-size: 14px;
    line-height: 24px;
    text-shadow: 1px 1px 3px black;
}

.email {
    padding-bottom: 0px !important;
    text-shadow: 1px 1px 3px black;
}

.toggle {
    color: #444;
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.fas.fa-rocket {
    width: 56px;
    height: 56px;
}

.social-media li a {
    padding: .3em;
}

.social-media li {
    padding: .3em;
}

@media only screen and (min-width : 993px) {
    nav .brand-logo {
        padding-left: 1rem;
    }
  }
